Q.1) Ans:

In [1]:
data = [('Sachin Tendulkar', 3435), ('Ricky Ponting', 27438), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key = lambda x: x[1])
for item in sorted_data:
    print(item)

('Sachin Tendulkar', 3435)
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27438)

Q.2) Ans:

In [2]:
num = [1,2,3,4,5,6,7,8,9,10]

squares = list (map (lambda x : x**2, num))

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.3) Ans:

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]

strings = tuple(map(lambda x : str(x), numbers))

print(strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q.4)Ans:

In [4]:
from functools import reduce

num = list (range (1, 26))

def multiply (x, y):
    return x * y 

product = reduce (multiply, num)

print("The product of numbers from 1 to 25 is: ", product)

The product of numbers from 1 to 25 is:  15511210043330985984000000

Q.5) Ans:

In [5]:
n = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

fil_num = list (filter (lambda x : x % 2 == 0 and x % 3 == 0, n))

print(fil_num)

[6, 60, 90, 120]

Q.6) Ans:

In [8]:
strings = ['python', 'php', 'aba', 'radar', 'level']

is_palindrome = lambda s:s == s[::-1]

palindromes = list (filter (is_palindrome, strings))

print(palindromes)

['php', 'aba', 'radar', 'level']